// Classes

.top > h2 {
    text-align: center;
    font-size: 5em;
    margin: 66px;
}

.bottom {
    min-width: 100%;
}

.bottom > p {
    text-align: center;
}

.divider {
    margin: 66px 0;
}

.divider > p{
    font-weight: 100;
    font-size: 1em;
    text-align: center;
}

.emailLink {
    
}